{% extends 'base.html' %}

{% block extra_styles %}
<style>
    .navbar {
        background-color: #333;
        color: white;
        width: 100%;
        padding: 15px 20px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    .nav-buttons {
        display: flex;
        gap: 10px;
    }

    .nav-button {
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        background-color: #555;
        border-radius: 3px;
        transition: background-color 0.3s ease;
    }

    .nav-button:hover {
        background-color: #777;
    }

</style>
{% endblock %}

{% block content %}
<div class="navbar">
    <h1>Employee</h1>
    <div class="nav-buttons">
    </div>
</div>

  <form method="post">
        {% csrf_token %}
        {{post.as_p}}
        <button type="submit">Post</button>
    </form>

{% endblock %}
